<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>address</th>
      <th>events</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Muruga Temple</td>
      <td>Mysore Road</td>
      <td>Sarawati Puja to be held on the 19th of November</td>
    </tr>
    <tr>
      <th>1</th>
      <td>RVCE</td>
      <td>Mysore Road</td>
      <td>KSP Hackathon on 16th and 17th</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Orchid's School</td>
      <td>Duvasapalya</td>
      <td>none</td>
    </tr>
  </tbody>
</table>