<!DOCTYPE html>
<html>
<head>
    <title>beat2</title>

    <!-- attach our stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- the header -->
    <header>

        <!-- our main logo -->
        <!-- <a id="logo" href="index.html">
            <img src="img/avatar.jpeg" alt="Logo">
            <span>My Website</span>
        </a> -->

        <!-- main navigation links -->
        <nav>
            <ul>
                    <span class="navbar1">KSP</span>
            </ul>
        </nav>
        <!-- <nav class="navbar navbar-light bg-light">
                <span class="navbar1">KSP</span>
                <span class="navbar2">Beat_member_Id || Beat_number</span>
              </nav>  -->
    </header>

    <!-- the content -->
    <main>

        <!-- hero content -->
        <!-- <div class="hero"> -->
            <!-- content for the hero -->
            <!-- <div class="hero-content">
                <h1 class="hero-title"><font size="10">Karnataka State Police</font></h1>
                <p><font size="4">Karnataka State Police Department is the law enforcement agency for the Indian state of Karnataka. The department is headed by the Director General of Police.</font></p>

                <a href="#">Sign In</a>
                <a href="C:\Users\Admin\Downloads\A-simple-website-using-HTML-CSS-JS-master\A-simple-website-using-HTML-CSS-JS-master\form.html">Sign Up</a>
            </div>
        </div> -->

        <!-- <div class="site-section">
        <div class="site-section-inside">

            <div class="section-header">
                <h2>Beat 2 Information</h2>
            </div> -->

            <div class="feature-box">
                <!-- <img src="img/like.png" alt="Easy to Use"> -->
                <!-- <h3><font size="4">First_Name</font></h3><input type="text" name="Username" required><br><br>
                <h4><font size="4">Last_Name</font></h4><input type="password"name="Password" required><br><br>
                <h3><font size="4">Mobile_Number</font></h3><input type="text" name="Username" required><br><br>
                <h4><font size="4">Email_ID</font></h4><input type="password"name="Password" required><br><br>
                <h3><font size="4">Gender</font></h3>
                <select>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Transgender">Transgender</option>
                </select> -->
                <!-- <h3><font size="4"></font></h3><br><br> -->
                <!-- <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                <option value="C:\Users\Admin\Downloads\frontend\frontend\signup.html">Rowdy Checking</option>
                <option value="l2">MOB (thieves and robbers) Checking</option>
                <option value="l3">Collecting information about crimes that have occurred within the beat.</option>
                <option value="l4">Collecting information about illegal activities in the beat</option>
                <option value="l5">collecting information about any law and order issue that might arise in that beat.</option>
                <option value="l6">collecting information about expectation from public from police in that area.</option>
                </select>
                <br><br>
                <a href="">Analyze</a> -->
                <!-- <script type="text/javascript">
                    if(document.getElementById("d1").value=="l1")
                    <a href="C:\Users\Admin\Downloads\frontend\frontend\signup.html">Analyze</a>
                </script> -->

                      <img src="{{ url_for('static', filename='img/crime_image.jpg') }}" style="width:1478px;height:791px;">


            </div>

            <!-- <div class="feature-box">
                <img src="img/faces.png" alt="Fun to Use">
                <h5>Fun to Use</h5>
                <p>Just think of how easy this is to use. Toddlers can do it. So can you!</p>
            </div> -->

            <!-- <div class="feature-box">
                <img src="img/heart.png" alt="Fun to Use">
                <h5>You'll Love It</h5>
                <p>Just think of how easy this is to use. Toddlers can do it. So can you!</p>
            </div> -->

        </div>
        </div>

        <!-- testimonials section -->
        <!-- <div class="site-section site-section-secondary">
        <div class="site-section-inside">

            <div class="section-header">
                <h2>What the people say</h2>
            </div>

            <div class="testimonial-box">
                <div class="testimonial-content">
                    Their service is by far the most influential I've ever seen.
                </div>
                <div class="testimonial-author">
                    <img src="img/david.jpg" alt="David East">
                    <h5>David East</h5>
                    <span>King of Firebase</span>
                </div>
            </div>

            <div class="testimonial-box">
                <div class="testimonial-content">
                    Their service is by far the most influential I've ever seen.
                </div>
                <div class="testimonial-author">
                    <img src="img/holly.jpg" alt="Holly Lloyd">
                    <h5>Holly Lloyd</h5>
                    <span>Queen of Scotch</span>
                </div>
            </div>

            <div class="testimonial-box">
                <div class="testimonial-content">
                    Their service is by far the most influential I've ever seen.
                </div>
                <div class="testimonial-author">
                    <img src="img/brad.jpg" alt="Brad Green">
                    <h5>Brad Green</h5>
                    <span>King of Angular</span>
                </div>
            </div>

        </div>
        </div> -->

    </main>

    <!-- the footer -->
    <footer>
        <!-- <img src="img/avatar.jpeg" alt="Footer Logo"> -->
        <span>S@G4<br>Team S@G4</span>
    </footer>

</body>
</html>
