<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>comments</th>
      <th>member's_name</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Group of people drinking during the day by the school playground</td>
      <td>rajesh kumar</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>none</td>
      <td>thilip</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>A lot of ruckus from the house nearby(Mr. Mishra's)</td>
      <td>dinesh babu</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>