<!DOCTYPE html>
<html>
<head>
    <title>Criminal Activities</title>

    <!-- attach our stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- the header -->
    <header>

        <!-- our main logo -->
        <!-- <a id="logo" href="index.html">
            <img src="img/avatar.jpeg" alt="Logo">
            <span>My Website</span>
        </a> -->

        <!-- main navigation links -->
        <!-- <nav>
            <ul>
                <li><a href="#">Features</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </nav> -->

    </header>

    <!-- the content -->
    <main>

        <!-- hero content -->
        <!-- <div class="hero"> -->
            <!-- content for the hero -->
            <!-- <div class="hero-content">
                <h1 class="hero-title"><font size="10">Karnataka State Police</font></h1>
                <p><font size="4">Karnataka State Police Department is the law enforcement agency for the Indian state of Karnataka. The department is headed by the Director General of Police.</font></p>

                <a href="#">Sign In</a>
                <a href="C:\Users\Admin\Downloads\A-simple-website-using-HTML-CSS-JS-master\A-simple-website-using-HTML-CSS-JS-master\form.html">Sign Up</a>
            </div>
        </div> -->

        <!-- <div class="site-section">
        <div class="site-section-inside">

            <div class="section-header">
                <h2>Illegal_criminal_activities_entry</h2>
            </div> -->

            <div class="feature-box">
                <!-- <img src="img/like.png" alt="Easy to Use"> -->
                <form method="post">
                <h2>Illegal_criminal_activities_entry</h2>
                <h3><font size="4">Name</font></h3><input type="text" name="name" required><br><br>
                <h3><font size="4">Address</font></h3><input type="text" name="address" required><br><br>
                <h3><font size="4">Offense</font></h4><input type="text"name="offence" required><br><br>
                <br><br>
                <button href="#"><font size="5">Submit</font></a></button>
              </form>

                <!-- <p>Just think of how easy this is to use. Toddlers can do it. So can you!</p> -->
            </div>

            <!-- <div class="feature-box">
                <img src="img/faces.png" alt="Fun to Use">
                <h5>Fun to Use</h5>
                <p>Just think of how easy this is to use. Toddlers can do it. So can you!</p>
            </div> -->

            <!-- <div class="feature-box">
                <img src="img/heart.png" alt="Fun to Use">
                <h5>You'll Love It</h5>
                <p>Just think of how easy this is to use. Toddlers can do it. So can you!</p>
            </div> -->

        </div>
        </div>

        <!-- testimonials section -->
        <!-- <div class="site-section site-section-secondary">
        <div class="site-section-inside">

            <div class="section-header">
                <h2>What the people say</h2>
            </div>

            <div class="testimonial-box">
                <div class="testimonial-content">
                    Their service is by far the most influential I've ever seen.
                </div>
                <div class="testimonial-author">
                    <img src="img/david.jpg" alt="David East">
                    <h5>David East</h5>
                    <span>King of Firebase</span>
                </div>
            </div>

            <div class="testimonial-box">
                <div class="testimonial-content">
                    Their service is by far the most influential I've ever seen.
                </div>
                <div class="testimonial-author">
                    <img src="img/holly.jpg" alt="Holly Lloyd">
                    <h5>Holly Lloyd</h5>
                    <span>Queen of Scotch</span>
                </div>
            </div>

            <div class="testimonial-box">
                <div class="testimonial-content">
                    Their service is by far the most influential I've ever seen.
                </div>
                <div class="testimonial-author">
                    <img src="img/brad.jpg" alt="Brad Green">
                    <h5>Brad Green</h5>
                    <span>King of Angular</span>
                </div>
            </div>

        </div>
        </div> -->

    </main>

    <!-- the footer -->
    <footer>
        <!-- <img src="img/avatar.jpeg" alt="Footer Logo"> -->
        <span>S@G4<br>Team S@G4</span>
    </footer>

</body>
</html>
