<!DOCTYPE html>
<html>
<head>
    <title>Home</title>

    <!-- attach our stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- the header -->
    <!-- <header>

        <!-- our main logo -->
        <!-- <a id="logo" href="index.html">
            <img src="img/avatar.jpeg" alt="Logo">
            <span>My Website</span>
        </a> -->

        <!-- main navigation links -->
        <!-- <nav>
            <ul>
                <li><a href="#">Features</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </nav> -->


    </header>

    <!-- the content -->
    <main>

        <!-- hero content -->
        <div class="hero">
            <!-- content for the hero -->
            <div class="hero-content">
                <h1 class="hero-title"><font size="10">Karnataka State Police</font></h1><br><br>
                <p><font size="4">Karnataka State Police Department is the law enforcement agency for the Indian state of Karnataka. The department is headed by the Director General of Police.</font></p>
                <p>The district police administration is headed by a Superintendent of Police. A group of districts comprise a range, led by an Inspector General of Police. Police administration in Bengaluru is headed by a commissioner of police with the rank of Additional DGP. Mysuru, Mangaluru and Hubballi-Dharwad city are headed by an Inspector General of Police(IGP) while Belagavi is headed by a Deputy Inspector General of Police (DIG).

                        The Director General and Inspector General of Police (DG&IGP) is the head of the state's police department, and under him are Additional Directors Generals of Police. Each Additional Director General of Police is in charge of a particular function: law and order, crime and technical services, administration, intelligence, the Karnataka State Reserve Police, recruitment and training.

                        There are five Commissionarates. The Commissioner of Police, Bangalore City has the rank of Additional Director General of Police, and the commissioners in Hubballi-Dharwad, Mysuru and Mangaluru have the rank of Inspector General of Police while the Belagavi commissioner has the rank of Deputy Inspector General of Police. Six Inspectors General of Police are in charge of ranges, with several Inspectors General of Police in charge of specific functions. Each Range comprises three to six districts, and each district is headed by a Superintendent of Police.</p>

                <br><br><a href="{{ url_for('signin') }}">Sign_In</a>

            </div>
        </div>


        <!-- features section -->
        <!-- <div class="site-section">
        <div class="site-section-inside">

            <div class="section-header">
                <h2>Key Features</h2>
            </div>

            <div class="feature-box">
                <img src="img/like.png" alt="Easy to Use">
                <h5>Easy to Use</h5>
                <p>Just think of how easy this is to use. Toddlers can do it. So can you!</p>
            </div>

            <div class="feature-box">
                <img src="img/faces.png" alt="Fun to Use">
                <h5>Fun to Use</h5>
                <p>Just think of how easy this is to use. Toddlers can do it. So can you!</p>
            </div>

            <div class="feature-box">
                <img src="img/heart.png" alt="Fun to Use">
                <h5>You'll Love It</h5>
                <p>Just think of how easy this is to use. Toddlers can do it. So can you!</p>
            </div>

        </div>
        </div> -->

        <!-- testimonials section -->
        <!-- <div class="site-section site-section-secondary">
        <div class="site-section-inside">

            <div class="section-header">
                <h2>What the people say</h2>
            </div>

            <div class="testimonial-box">
                <div class="testimonial-content">
                    Their service is by far the most influential I've ever seen.
                </div>
                <div class="testimonial-author">
                    <img src="img/david.jpg" alt="David East">
                    <h5>David East</h5>
                    <span>King of Firebase</span>
                </div>
            </div>

            <div class="testimonial-box">
                <div class="testimonial-content">
                    Their service is by far the most influential I've ever seen.
                </div>
                <div class="testimonial-author">
                    <img src="img/holly.jpg" alt="Holly Lloyd">
                    <h5>Holly Lloyd</h5>
                    <span>Queen of Scotch</span>
                </div>
            </div>

            <div class="testimonial-box">
                <div class="testimonial-content">
                    Their service is by far the most influential I've ever seen.
                </div>
                <div class="testimonial-author">
                    <img src="img/brad.jpg" alt="Brad Green">
                    <h5>Brad Green</h5>
                    <span>King of Angular</span>
                </div>
            </div>

        </div>
        </div> -->

    </main>

    <!-- the footer -->
    <footer>
        <!-- <img src="img/avatar.jpeg" alt="Footer Logo"> -->
        <span>S@G4<br>Team S@G4</span>
    </footer>

</body>
</html>
