<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>beat_number</th>
      <th>beat_constable</th>
      <th>member_name</th>
      <th>address</th>
      <th>aadhar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>aditya</td>
      <td>raj</td>
      <td>duvasapalya</td>
      <td>1.111220e+11</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>ravi</td>
      <td>dinesh</td>
      <td>kengeri</td>
      <td>2.222330e+11</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>aditya</td>
      <td>govind</td>
      <td>forest layout</td>
      <td>1.478520e+11</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>aditya</td>
      <td>gopi</td>
      <td>1st block</td>
      <td>1.231231e+10</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>ravi</td>
      <td>thilip</td>
      <td>kengeri layout</td>
      <td>9.876532e+10</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>ravi</td>
      <td>rajesh</td>
      <td>kengeri</td>
      <td>1.234570e+11</td>
    </tr>
  </tbody>
</table>